SteamTech World - Server/*
!SteamTech World - Server/config/
!SteamTech World - Server/mods/
!SteamTech World - Server/libraries/
!SteamTech World - Server/READ ME.txt
!SteamTech World - Server/minecraft_server.1.12.2.jar
!SteamTech World - Server/run.bat
!SteamTech World - Server/SteamTechWorld.jar
